<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/about.css" />

    <title>Akaira 2020</title>
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container">
        <div class="logo float-left">
          <a href="../index.html"
            ><img src="../assets/images/akaira.png" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block float-right">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li class="active"><a href="about.html">About Us</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="guests.html">Guests</a></li>
            <li><a href="sponsors.html">Sponsors</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h2>About Us</h2>
      <div class="content">
        <p>
          Our University
          <span class="pink">Ramaiah University of Applied Sciences</span> is a
          melting pot of cultures, capabilities and energies. We take pride in
          our diversity and catch a breather every year to put together an
          annual showcase- our cultural fest Akaira. The name '<span
            class="bold pink"
            >Akaira</span
          >' itself symbolises the inherent creativity, analytical and artistic
          abilities, which when used with determination can do wonders. We
          celebrate every individual - their vibe, their passion and their
          mirthful confusions in Akaira. With a plethora of events to make sure
          every potential has a platform, this fest is a goldmine of
          opportunities. The on stage events include classical singing (Solo,
          Duet Group) Non-classical singing (Solo, Duet, Group), Indian dance
          (Solo, Duet, Group). Western dance (Solo, Duet, Group), Antakshari
          (Kannada & Hindi), Quiz, Radio Jock, Debate, Extempore speech, Movie
          spoof, Scavenger hunt, Mad ads, Air crash, Fashion show. While, the
          off stage events include Rangoli, Flower arrangement, Collage, Cooking
          without fire, Nail art, Face painting. Mehendi, Sketching. Best out of
          waste, Street play, Creative writing, Gaming Spot photography. Come be
          a part of our family as we attempt to create this masterpiece. In the
          words of Taylor Swift,
          <span class="pink">"Unique and Different is the New beautiful"</span>.
          <br />
          Show us what you've got! Let's celebrate you 🎉.
        </p>
      </div>
    </main>

    <!-- End Header -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../js/nav.js"></script>
  </body>
</html>
