<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/contact.css" />

    <title>Akaira 2020</title>
  </head>

  <body>
    <header id="header" class="fixed-top ">
      <div class="container">
        <div class="logo float-left">
          <a href="../index.html"
            ><img src="../assets/images/akaira.png" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block float-right">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="guests.html">Guests</a></li>
            <li><a href="sponsors.html">Sponsors</a></li>
            <li><a href="team.html">Team</a></li>
            <li class="active"><a href="contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="site-section animate-bottom">
        <div class="container animate-bottom">
          <div class="content row align-items-center">
            <div class="mapContainer col-md-6 order-2 order-md-2 mb-md-0 ">
              <a
                class="direction-link"
                target="_blank"
                href="//maps.google.com/maps?f=d&amp;daddr=13.0183642,77.5078933&amp;hl=en"
              >
                Get Directions</a
              >
              <div id="map"></div>
            </div>

            <div class="content-section col-md-6 mr-auto order-1 order-md-1 ">
              <h1 class="section-title mb-3 animate-bottom">Contact Us</h1>

              <p class="mb-3">
                need a hand? or maybe a high five? <br />Here's how to reach us.
              </p>

              <div class="row social-row">
                <span class=" social ">
                  <a
                    href="https://instagram.com/saanskritik_ruas?igshid=lhc1y0zwagij"
                    target="_blank"
                    ><i class="icofont-instagram icofont-3x"></i
                  ></a>
                </span>
                <span class="social">
                  <a
                    href="https://m.facebook.com/Akaira-2020-113120463594091/#_=_"
                    target="_blank"
                    ><i class="icofont-facebook icofont-3x"></i
                  ></a>
                </span>
                <span class="social ">
                  <a
                    href="https://mobile.twitter.com/saanskrithik"
                    target="_blank"
                    ><i class="icofont-twitter icofont-3x"></i>
                  </a>
                </span>
              </div>

              <div class="poc row">
                <span class="col">
                  <img
                    class="poc-img"
                    src="https://image.flaticon.com/icons/svg/702/702004.svg"
                    alt=""
                  />
                </span>
                <span class="poc-des">
                  <h5><span class="blue">name:</span> something some</h5>

                  <h5>
                    <span class="blue">contact:</span
                    ><a class="pink" href="tel:123456789"> +91-123456789</a>
                  </h5>
                  <h5>
                    <span class="blue">email:</span>
                    <a class="pink" href="mailto:saanskritik2019@gmail.com"
                      >saanskritik2019@gmail.com</a
                    >
                  </h5>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- End Header -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE7CdEz0ecZz7Kn6QJ7qXarqef5ILyfjA"></script>

    <script src="../js/contact.js"></script>
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../js/nav.js"></script>
  </body>
</html>
