<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/nav.css" />

    <title>Akaira 2020</title>
  </head>

  <body>
    <header id="header" class="fixed-top header-transparent">
      <div class="container">
        <div class="logo float-left">
          <a href="../index.html"
            ><img src="../assets/images/akaira.png" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block float-right">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="guests.html">Guests</a></li>
            <li><a href="sponsors.html">Sponsors</a></li>
            <li class="active"><a href="team.html">Team</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h2>Our Team</h2>
    </main>

    <!-- End Header -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../js/nav.js"></script>
  </body>
</html>
